USE [master]
GO
/****** Object:  Database [БелкаФаворитСпичечнаяФабрикаБазаДанных]    Script Date: 21.05.2025 23:44:21 ******/
CREATE DATABASE [БелкаФаворитСпичечнаяФабрикаБазаДанных]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'БелкаФаворитСпичечнаяФабрикаБазаДанных', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\БелкаФаворитСпичечнаяФабрикаБазаДанных.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'БелкаФаворитСпичечнаяФабрикаБазаДанных_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\БелкаФаворитСпичечнаяФабрикаБазаДанных_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [БелкаФаворитСпичечнаяФабрикаБазаДанных].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [БелкаФаворитСпичечнаяФабрикаБазаДанных]
GO
/****** Object:  Table [dbo].[Выдача]    Script Date: 21.05.2025 23:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Выдача](
	[id_Выдачи] [int] IDENTITY(1,1) NOT NULL,
	[id_сотрудника] [int] NOT NULL,
	[id_сиз] [int] NOT NULL,
	[Дата_выдачи] [date] NOT NULL,
	[количество] [int] NOT NULL,
	[Срок_износа] [date] NULL,
 CONSTRAINT [PK_Выдача] PRIMARY KEY CLUSTERED 
(
	[id_Выдачи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ДерматологическоеСредство]    Script Date: 21.05.2025 23:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ДерматологическоеСредство](
	[id_ДерматологическогоСредства] [int] IDENTITY(1,1) NOT NULL,
	[id_профессии] [int] NOT NULL,
	[Наименование] [nvarchar](100) NOT NULL,
	[Норма] [nvarchar](70) NOT NULL,
 CONSTRAINT [PK_ДерматологическоеСредство] PRIMARY KEY CLUSTERED 
(
	[id_ДерматологическогоСредства] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Инфраструктура]    Script Date: 21.05.2025 23:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Инфраструктура](
	[id_Инфраструктуры] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](100) NOT NULL,
	[Описание] [nchar](10) NULL,
 CONSTRAINT [PK_Инфраструктура] PRIMARY KEY CLUSTERED 
(
	[id_Инфраструктуры] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[НормаВыдачи]    Script Date: 21.05.2025 23:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[НормаВыдачи](
	[id_Нормы] [int] IDENTITY(1,1) NOT NULL,
	[id_профессии] [int] NOT NULL,
	[id_сиз] [int] NOT NULL,
	[Норма_в_единицах_измерения] [varchar](80) NOT NULL,
	[Период] [varchar](50) NOT NULL,
	[Сезон] [int] NOT NULL,
	[Основание_назначения] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_НормаВыдачи] PRIMARY KEY CLUSTERED 
(
	[id_Нормы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Профессия]    Script Date: 21.05.2025 23:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Профессия](
	[id_Профессии_или_должности] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](200) NOT NULL,
	[Код_по_нормативу] [nvarchar](100) NULL,
	[id_инфраструктуры_или_отдела] [int] NOT NULL,
 CONSTRAINT [PK_Профессия] PRIMARY KEY CLUSTERED 
(
	[id_Профессии_или_должности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сезон]    Script Date: 21.05.2025 23:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сезон](
	[id_Сезона] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Сезон] PRIMARY KEY CLUSTERED 
(
	[id_Сезона] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[СИЗ]    Script Date: 21.05.2025 23:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[СИЗ](
	[id_СИЗ] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](200) NOT NULL,
	[id_типаСИЗ] [int] NOT NULL,
	[Единица_измерения] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_СИЗ] PRIMARY KEY CLUSTERED 
(
	[id_СИЗ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудник]    Script Date: 21.05.2025 23:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудник](
	[id_Сотрудника] [int] IDENTITY(1,1) NOT NULL,
	[id_профессии] [int] NOT NULL,
	[Фамилия] [nvarchar](100) NOT NULL,
	[Имя] [nvarchar](100) NOT NULL,
	[Отчество] [nvarchar](100) NULL,
 CONSTRAINT [PK_Сотрудник] PRIMARY KEY CLUSTERED 
(
	[id_Сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТипСИЗ]    Script Date: 21.05.2025 23:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТипСИЗ](
	[id_Типа] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
	[Описание] [nchar](10) NULL,
 CONSTRAINT [PK_ТипыСИЗ] PRIMARY KEY CLUSTERED 
(
	[id_Типа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Выдача]  WITH CHECK ADD  CONSTRAINT [FK_Выдача_СИЗ] FOREIGN KEY([id_сиз])
REFERENCES [dbo].[СИЗ] ([id_СИЗ])
GO
ALTER TABLE [dbo].[Выдача] CHECK CONSTRAINT [FK_Выдача_СИЗ]
GO
ALTER TABLE [dbo].[Выдача]  WITH CHECK ADD  CONSTRAINT [FK_Выдача_Сотрудник] FOREIGN KEY([id_сотрудника])
REFERENCES [dbo].[Сотрудник] ([id_Сотрудника])
GO
ALTER TABLE [dbo].[Выдача] CHECK CONSTRAINT [FK_Выдача_Сотрудник]
GO
ALTER TABLE [dbo].[ДерматологическоеСредство]  WITH CHECK ADD  CONSTRAINT [FK_ДерматологическоеСредство_Профессия] FOREIGN KEY([id_профессии])
REFERENCES [dbo].[Профессия] ([id_Профессии_или_должности])
GO
ALTER TABLE [dbo].[ДерматологическоеСредство] CHECK CONSTRAINT [FK_ДерматологическоеСредство_Профессия]
GO
ALTER TABLE [dbo].[НормаВыдачи]  WITH CHECK ADD  CONSTRAINT [FK_НормаВыдачи_Профессия] FOREIGN KEY([id_профессии])
REFERENCES [dbo].[Профессия] ([id_Профессии_или_должности])
GO
ALTER TABLE [dbo].[НормаВыдачи] CHECK CONSTRAINT [FK_НормаВыдачи_Профессия]
GO
ALTER TABLE [dbo].[НормаВыдачи]  WITH CHECK ADD  CONSTRAINT [FK_НормаВыдачи_Сезон] FOREIGN KEY([Сезон])
REFERENCES [dbo].[Сезон] ([id_Сезона])
GO
ALTER TABLE [dbo].[НормаВыдачи] CHECK CONSTRAINT [FK_НормаВыдачи_Сезон]
GO
ALTER TABLE [dbo].[НормаВыдачи]  WITH CHECK ADD  CONSTRAINT [FK_НормаВыдачи_СИЗ] FOREIGN KEY([id_сиз])
REFERENCES [dbo].[СИЗ] ([id_СИЗ])
GO
ALTER TABLE [dbo].[НормаВыдачи] CHECK CONSTRAINT [FK_НормаВыдачи_СИЗ]
GO
ALTER TABLE [dbo].[Профессия]  WITH CHECK ADD  CONSTRAINT [FK_Профессия_Инфраструктура] FOREIGN KEY([id_инфраструктуры_или_отдела])
REFERENCES [dbo].[Инфраструктура] ([id_Инфраструктуры])
GO
ALTER TABLE [dbo].[Профессия] CHECK CONSTRAINT [FK_Профессия_Инфраструктура]
GO
ALTER TABLE [dbo].[СИЗ]  WITH CHECK ADD  CONSTRAINT [FK_СИЗ_ТипСИЗ] FOREIGN KEY([id_типаСИЗ])
REFERENCES [dbo].[ТипСИЗ] ([id_Типа])
GO
ALTER TABLE [dbo].[СИЗ] CHECK CONSTRAINT [FK_СИЗ_ТипСИЗ]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудник_Профессия] FOREIGN KEY([id_профессии])
REFERENCES [dbo].[Профессия] ([id_Профессии_или_должности])
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [FK_Сотрудник_Профессия]
GO
ALTER TABLE [dbo].[Выдача]  WITH CHECK ADD  CONSTRAINT [CHK_ДатаВыдачи] CHECK  (([Дата_выдачи]<=getdate()))
GO
ALTER TABLE [dbo].[Выдача] CHECK CONSTRAINT [CHK_ДатаВыдачи]
GO
ALTER TABLE [dbo].[Выдача]  WITH CHECK ADD  CONSTRAINT [CHK_Количество] CHECK  (([количество]>(0)))
GO
ALTER TABLE [dbo].[Выдача] CHECK CONSTRAINT [CHK_Количество]
GO
USE [master]
GO
